body {
    background-image:url('https://qphs.fs.quoracdn.net/main-qimg-bd48828b961d324b5f901f96bb56e06b-c');
    background-position:center;
    background-size:cover;
    
    -webkit-font-smoothing: antialiased;
    font: normal 14px Bebas Neue, Roboto,arial,sans-serif;
    font-family: 'Alegreya Sans SC', sans-serif !important;
  }
  
  .container {
      bottom: 100x;
  }
  ::placeholder { 
      color: #ffffff!important;
      opacity: 1; 
      font-size:18px!important;
  }
  .form-login {
      background-color: rgba(0,0,0,0.55);
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
      border-color:#d2d2d2;
      border-width: 5px;
      color:white;
      box-shadow:0 1px 0 #cfcfcf;
  }
  .form-control{
      background:transparent!important;
      color:white!important;
      font-size: 18px!important;
  }
  h1{
      color:white!important;
  }
  h3 { 
   border:0 solid #fff; 
   border-bottom-width:1px;
   padding-bottom:10px;
   text-align: center;
}
h5{
    font-size: 2px;
    text-align: center;
    color:red;
  }
  .incorrect{
      color:red;
  }
  .box{  
      text-align: center;
      position: absolute;
      top: 25%;
      left: 37%;
      width: 25%;
      height: 5cm;
  }
  .form-control {
      border-radius: 10px;
  }
  .text-white{
    font-size: 60px;  
    color: white!important;
  }
  .wrapper {
      text-align: center;
  }
  .footer p{
      font-size: 18px;
  }

  
.label
{
    width: 100px;
}

.alert
{
    display: none;
}

.requirements
{
    list-style-type: none;
}

.wrong .fa-check
{
    display: none;
}

.good .fa-times
{
    display: none;
}